@model Room.ViewModels.ExpenseViewModel

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link href="~/lib/DatePicker/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/lib/DatePicker/bootstrap-datepicker.js"></script>
<form asp-action="AddExpense" role="form">

    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label asp-for="Date" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Date" value="" class="form-control form_datetime" autocomplete="off" asp-format="mm/dd/yyyy" placeholder="mm/dd/yyyy" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="UserId" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <select asp-for="UserId" class="form-control" asp-items="@Model.ListUsers">
                    <option value="">Select Role</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Amount" value="" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label  class="col-lg-3 col-sm-3 control-label">Select the Users</label>
            <div class="col-lg-6">
              <ul>
                  @for(var i=0;i<Model.ListUsers.Count;i++)
                  {
                      <li>
                          <input type="checkbox" asp-for="@Model.ListUsers[i].Selected" class="checkbox checkbox-inline chkuser" />
                          <label asp-for="@Model.ListUsers[i].Selected">@Model.ListUsers[i].Text</label>
                          <input type="hidden" asp-for="@Model.ListUsers[i].Value" />
                          <input type="hidden" asp-for="@Model.ListUsers[i].Text" />   
                          
                          
                      </li>

                  }
              </ul>
                <span asp-validation-for="ListUsers" class="text-danger"></span>
           
                
            </div>
        </div>

       
        <div class="form-group text-center">
            <button type="submit" class="btn btn-success" id="btnSubmit">Add Expense</button>
        </div>
    </div>

    <script type="text/javascript">
        $(".form_datetime").datepicker({
            autoclose: true,
            toggleActive: true
        });
        $(".chkuser").change(function () {

            alert();

        });
    </script>  
</form>
